#ieLogo{
    width: 70%;
}

.application{
    margin-left: 20px;
}

.shopNav{
    margin-left: 25%;

}

.card{
    margin: 10px;
}

.card:hover{
    border: turquoise 1.5px solid;
    border-radius: 15px;
}

.textLink{
    text-decoration: none;
    color: black;
}

.textLink:hover{
color:black;
}

.itemImage{
    height: 175px;
    width: 125px;
}